# PostgreSQL
POSTGRES_USER=luz_user
POSTGRES_PASSWORD=luz_password
POSTGRES_DB=luz_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# ESIOS
ESIOS_TOKEN=tu_token_aqui

# App
APP_ENV=development
APP_SECRET_KEY=cambia_esto_en_produccion

# Firebase (lo añadiremos más adelante)
# FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json